// Shared.xcconfig
// Common settings for all configurations

// Team ID
DEVELOPMENT_TEAM = ZK79P5HJFM

// Deployment
IPHONEOS_DEPLOYMENT_TARGET = 17.0
TARGETED_DEVICE_FAMILY = 1,2

// Swift
SWIFT_VERSION = 5.9
SWIFT_STRICT_CONCURRENCY = minimal
OTHER_LDFLAGS = $(inherited) -framework AppIntents

// Code Signing
CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY = Apple Development

// App Display
MARKETING_VERSION = 1.0.0
